<!DOCTYPE html>
<html>
  <head>
    <title>Bandspace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# delete hardcoded images %>
    <script type="text/javascript">
      window.eagleNebula = "<%= image_url('eagle-nebula.png') %>";
      window.image126 = "<%= image_url('image-98.png') %>";
      window.image54 = "<%= image_url('image-98.png') %>";
      window.image113 = "<%= image_url('image-85.jpg') %>";
      window.image53 = "<%= image_url('image-85.jpg') %>";
      window.image114 = "<%= image_url('image-86.png') %>";
      window.image42 = "<%= image_url('image-36.png') %>";
      window.image41 = "<%= image_url('image-35.jpeg') %>";
      window.image55 = "<%= image_url('image-35.jpeg') %>";
      window.image40 = "<%= image_url('image-34.png') %>";
      window.image39 = "<%= image_url('image-33.jpg') %>";
      window.image56 = "<%= image_url('image-33.jpg') %>";
      window.image38 = "<%= image_url('image-32.png') %>";
      window.image37 = "<%= image_url('image-31.png') %>";

      window.banner53 = "<%= image_url('banner-48.png') %>";
      window.banner54 = "<%= image_url('banner-49.png') %>";
      window.banner55 = "<%= image_url('banner-50.png') %>";
      window.banner56 = "<%= image_url('banner-51.png') %>";
    </script>
    <%# delete hardcoded images %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
